*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: lightblue;
}

.grid{
    display: grid;
    max-width: 900px;
    grid-template-rows: repeat(11, 60px);
    grid-template-columns: repeat(auto-fit,minmax(3,250px));
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.rawr{
    grid-row: 1/3;
    grid-column: 3/4;
    width: 500px;
    height: 180px;
    object-fit: cover;
}
.rawr img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}
.description{
    grid-row: 4/8;
    grid-column: 3/4;
    height: auto;
    width: auto;
    text-align: justify;
    padding: 60px 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: beige;
    border-radius: 10px;
}
.Word{
    grid-row: 8/10;
    grid-column: 3/4;
    font-size: 50px; 
    text-align: center;
    border-radius: 10px;
    padding: 32px 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: mediumslateblue;
}
#button{
    grid-row: 10/11;
    grid-column: 3/4;
    font-size: 20px;
    padding: 12px 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}