
.grid{
    display: grid;
    margin: 2 rem;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 100px);
}

.block-a{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
    border: 2px solid cyan;
    border-radius: 25px;
    height: 190;
    width: 190;
    background-color: maroon;
}

.block-b{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/3;
    grid-column: 1/2;
    border: 2px solid cyan;
    border-radius: 25px;
    height: 90;
    width: 190;
    background-color: blue;
}

.block-c{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/1;
    grid-column: 3/5;
    border: 2px solid cyan;
    border-radius: 25px;
    height: 90;
    width: 290;
    background-color: yellow;
}

.block-d{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 3/4;
    border: 2px solid cyan;
    border-radius: 25px;
    height: 190;
    width: 190;
    background-color: orange;
}

.block-e{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/2;
    grid-column: 5/5;
    border: 2px solid cyan;
    border-radius: 25px;
    height: 90;
    width: 90;
    background-color: green;
}

.block-f{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/3;
    grid-column: 5/5;
    border: 2px solid cyan;
    border-radius: 25px;
    height: 90;
    width: 90;
    background-color: indigo;
}
