body{
    background-color: bisque;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navabar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navabar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navabar a:hover {
    background-color: #ddd;
    color: black;
  }

.navabar a.active {
    background-color: white;
    color: #04AA6D;
  }

.navabar a.HOME {
    background-color: white;
    color: #04AA6D;
  }


  .navabar input[type=text] {
    float: right;
    padding: 8px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
  
@media screen and (max-width: 600px) {
    .navabar a, .navabar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    
    .navabar input[type=text] {
      border: 1px solid #ccc;  
    }
}
