body{
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.background {
    background-color: black;
    width: 500px;
    height: 46.22496147919877vh;
    border: 5px solid green;
    margin: 10px;
}

.picture{
    width: 100%;
    display: flex;
    justify-content: center;
}

#absolute-card {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.rounded-full{
    width: 15.625vw;
    height: 30.816640986132512vh;
    border-radius: 100%;
}

#red{
    color: red;
}

.white{
    color: white;
    font: weight light 6.25rem;
}


.bold{
    font-weight: bold;
}
